<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos doloremque sapiente nisi itaque ad culpa quibusdam laborum magnam tempore cum molestias harum, aliquam sed temporibus facere debitis ipsum velit minima.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos doloremque sapiente nisi itaque ad culpa quibusdam laborum magnam tempore cum molestias harum, aliquam sed temporibus facere debitis ipsum velit minima.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos doloremque sapiente nisi itaque ad culpa quibusdam laborum magnam tempore cum molestias harum, aliquam sed temporibus facere debitis ipsum velit minima.</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>